@page "/counter"

<h1>Example 2</h1>
<h1>Alert Collections</h1>

<p>Current count: @alerts.Count()</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
<AlertMessages Items="alerts" Context="message" OnDelete="DeleteItem">
    <AlertTemplate>
        <span>This is an alert @message</span>
    </AlertTemplate>
</AlertMessages>

@code {
    List<int> alerts = new List<int>();

    private void IncrementCount()
    {
        alerts.Add(alerts.Count() + 1);
    }

    void DeleteItem(object item)
    {
        alerts.Remove((int)item);
    }
}